.header {
  background-color: coral;
  width: 100%;
  height: 150px;
}

.container {
  background-color: aquamarine;
  width: auto;
  /*height: auto;*/
  display: flex;
  flex-direction: row;
}

.result-container {
  background-color: palevioletred;
  width: 70%;
}
.favorites-container {
  background-color: greenyellow;
  width: 30%;
}
.button {
  height: 25px;
}

.serie__card {
  list-style-type: none;
  border: 1px solid black;
  background-color: honeydew;
  cursor: pointer;
}
.clicked {
  background-color: rgb(55, 139, 139);
  color: white;
}

.serie__card.favorite {
  background-color: red;
}
.serie__card--img.favorite {
  width: 50%;
}
